body{
    background-color: #222;
    color: #eee;
    font-family: sans-serif;
    margin: 0;
}

.h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 0.80em;
    
}

form{
    max-width: 500px;
    margin: auto;
    margin-top: 100px;
    box-sizing: border-box;
    box-shadow: 0 0 40px;
    padding: 15px 9px;
    border-radius: 20px;
}

input,select,datalist,textarea{
    width: 100%;
    padding: 3px 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    background-color: #222;
    border: 2px solid #666;
    color: #eee;
}

label{
    line-height: 1.70;
}