body{
    background: linear-gradient(to left,#f00,
    #000);
    color: #eee;
    font-family: sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 0.77em;
    
}

form{
    max-width: 500px;
    margin: auto;
    margin-top: 100px;
    box-sizing: border-box;
    box-shadow: 0 0 4px #eee;
    padding: 15px 9px;
    border-radius: 20px;
}

input,select,datalist,textarea{
    width: 100%;
    padding: 6px 5px;
    box-sizing: border-box;
    border-radius: 7px;
    border: none;
    background: linear-gradient(to left, #222,
    #f002);
    border: 2px solid #333;
    color: #eee;
}

label{
    line-height: 1.70;
}

textarea{
    resize: none;
    width: 100%;
}

.emailll:invalid{
    color: #f00;
}

.emailll:valid{
    color: #eee;
}

.terminos{
    text-decoration: none;
    color: #48c;
}

.terminos:link{
    color: #48c;
    font-family: sans-serif;
}

.terminos:visited{
    color: #105f0c;
    font-family: sans-serif;
}

input::placeholder{
    color: #eee;
    font-family: sans-serif;
}